@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,807;1,807&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.custom_underline {
  position: relative; /* Ensure positioning context for the pseudo-element */
}

.custom_underline::after {
  position: absolute; /* Position the pseudo-element relative to its parent */
  width: 100%;
  content: ""; /* Required for pseudo-elements */
  display: block; /* Ensures the pseudo-element takes up space */
  border-bottom: 0.3rem solid #f4f4f4; /* Adjust color, thickness, and style as needed */
  bottom: 0; /* Position the underline at the bottom of the parent element */
}
.primary_font_family {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 807;
  font-style: normal;
}
.secondary_font_family {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.outer-box {
  border: 1px solid black;
}
#search_box_home::placeholder {
  color: f4f4f4;
}
.badge {
  display: inline-block;
  padding: 0.5rem;
  font-size: 0.5rem;
  background-color: #ffff; /* Badge background color */
  color: black; /* Text color */
  font-weight: bold;
  border-radius: 50%;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px blue; /* Initial glow color and size */
  }
  to {
    box-shadow: 0 0 20px blue; /* Final glow color and size */
  }
}
.timer_style {
  padding: 0.5rem;
  text-align: center;
  background-color: white;
  color: black;
}
/* style for add to cart in home trending section*/
.hover_over {
  display: block;

  transition: ease-in-out;
}
